@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  font-family: Inter, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;
  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
*{
  margin:0;
  padding:0;
  list-style: none;
  outline: none;
  box-sizing: border-box;
  text-decoration: none;
}
body {
  background-image: url(./assets/images/sky.jpg);
  background-size:     cover;                   
  background-repeat:   no-repeat;
  background-position: center center; 
}
.date-heading{
  background-color: #9b4baf;
}
/* body {
  margin: 0;
  display: flex;
  place-items: center;
  min-width: 320px;
  min-height: 100vh;
} */

